
body {
  font-family: Barlow Semi Condensed;
  font-size: 13px;
color: white;
}
.main {
  background-color: hsl(0, 0%, 100%);
}
.container {
  background-color: hsl(214, 17%, 92%);
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 300px 300px;
  gap: 25px;
  padding: 20px;
  height: 1000px;
  width: 1600px;
  align-content: center;
  justify-content: center;
}
.container div {
  border-radius: 10px;
}
.review1 {
  background-color:  hsl(263, 55%, 52%);
  grid-area: 1 / 1 / 2 / 3;
  justify-content: center;
 padding-left: 25px;
  align-content: center;
  z-index: 0;
  position: relative;

  

}
.review2 {
background-color: hsl(217, 19%, 35%);
grid-area: 1 / 3 / 2 / 4;
justify-content: center;
align-content: center;
padding: 20px;
}
.review3 {
  background-color: hsl(0, 0%, 100%);
  grid-area: 1 / 4 / 3 / 4;
  color: hsl(219, 29%, 14%);
  padding: 30px;
  justify-content: center;
 
}
.review4 {
background-color: hsl(0, 0%, 100%);
grid-area: 2 / 1 / 3 / 2;
color: black;
justify-content: center;
  padding: 30px;
}
.review5 {
background-color: hsl(0, 0%, 7%);
grid-area: 2 / 2 / 3 /4;
justify-content: center;
  padding: 0 30px;
}

#daniel {
  border-radius: 25px;
  margin: 30px;

}
.image {
  display: inline-flex;
  margin: 0;
}
.graduate {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  
}